<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="JanelaPrincipal">
		<title>Simulador 8086 com pipeline</title>
		<centered>1</centered>
		<size>800,460</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<handler function="OnPanel1Paint" entry="EVT_PAINT" />
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Sobre</label>
				<pos>704,8</pos>
				<handler function="OnButton1Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="Abrir" member="yes">
				<label>Abrir</label>
				<pos>704,48</pos>
				<handler function="OnAbrirClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
				<pos>704,42</pos>
				<size>88,2</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
				<pos>704,82</pos>
				<size>88,2</size>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="Executar" member="yes">
				<label>Executar</label>
				<pos>704,88</pos>
				<handler function="OnExecutarClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxListCtrl" name="ID_LISTCTRL2" variable="Registradores" member="yes">
				<pos>8,32</pos>
				<size>680,72</size>
				<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_HRULES|wxLC_VRULES|wxRAISED_BORDER</style>
			</object>
			<object class="wxListCtrl" name="ID_LISTCTRL1" variable="Pipeline" member="yes">
				<pos>8,224</pos>
				<size>680,56</size>
				<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxRAISED_BORDER</style>
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="Resetar" member="yes">
				<label>Resetar</label>
				<pos>704,128</pos>
				<handler function="OnResetarClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxListCtrl" name="ID_LISTCTRL3" variable="Flags" member="yes">
				<pos>8,136</pos>
				<size>680,56</size>
				<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_HRULES|wxLC_VRULES|wxRAISED_BORDER</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Registradores:</label>
				<pos>8,8</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Flags:</label>
				<pos>8,112</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Pipeline:</label>
				<pos>8,200</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON5" variable="reg_info" member="yes">
				<label>Informações</label>
				<pos>104,0</pos>
				<handler function="Onreg_infoClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON6" variable="flag_info" member="yes">
				<label>Informações</label>
				<pos>48,104</pos>
				<handler function="Onflag_infoClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON7" variable="pipeline_info" member="yes">
				<label>Informações</label>
				<pos>64,192</pos>
				<handler function="Onpipeline_infoClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
				<pos>704,168</pos>
				<size>88,0</size>
			</object>
			<object class="wxButton" name="ID_BUTTON8" variable="Button2" member="yes">
				<label>Dump</label>
				<pos>704,176</pos>
				<handler function="OnButton2Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxListCtrl" name="ID_MemView" variable="MemView" member="yes">
				<pos>8,312</pos>
				<size>680,128</size>
				<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxRAISED_BORDER</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>Visualizador de Memória:</label>
				<pos>8,288</pos>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Escolha um arquivo para abrir</message>
			<default_file>Assembler compilado (*.lst)|*.lst</default_file>
			<wildcard>Assembler compilado (*.lst)|*.lst</wildcard>
		</object>
	</object>
</wxsmith>
